<div id="banner">
	<div class="outline"></div>
	
	<img inline class="bg" src="./images/bg.jpg" />
	<img inline class="retina" src="./images/logo_leaf.png" />
	<img inline class="retina" src="./images/legal.png" />
	<!-- <img inline class="retina " src="./images/logo_text.png" />		 -->
	<img inline class="retina logo_text" src="./images/logo_text_2.png" />		
	<img inline class="retina cta" src="./images/cta.png" />		

	<div class="frame frame1">
		<img inline class="retina t1" src="./images/t1.png" />
	</div>
	
	<div class="frame frame2">
		<img inline class="retina t2" src="./images/t2.png" />
		<img inline class="product_1" src="./images/product_1.png" />		
		
	</div>

	<div class="frame frame3">
		<img inline class="retina t3" src="./images/t3.png" />
		<img inline class="product_2" src="./images/product_2.png" />		
	</div>

	<div class="frame frame4">
		<img inline class="retina t4" src="./images/t4.png" />
		<img inline class="retina product_3" src="./images/product_3.png" />		
	</div>

	<% include ../_common/templates/legal %>
	
	
</div>