<div id="legalBtn"></div>
<div id="legalContent" >
	There may be health risks associated with vaping that are not fully known or understood. There are risks associated with cannabis use. Refer to the following for risks of vaping and cannabis: https://www.canada.ca/en/health-canada.html
</div>