<div id="banner">
	<% include ../_common/templates/_banner-top %>

	<div class="outline"></div>
	
	<img inline class="bg" src="./images/bg.jpg" />
	<img inline class="retina" src="./images/logo_leaf.png" />
	
	<!-- <img inline class="retina " src="./images/logo_text.png" />		 -->
		
	<img inline class="retina cta" src="./images/cta.png" />		

	<div class="frame frame1">
		<img inline class="retina shadow t1" src="./images/t1.png" />

		
		<img inline class="retina product" src="./images/product.png" />
		

		<img inline class="retina logo_text" src="./images/logo_text.png" />	
			
		<img inline class="retina" src="./images/legal.png" />
	</div>
	
	

	<% include ../_common/templates/_banner-bottom %>
	<% include ../_common/templates/legal %>

	<!-- <% include ../_common/templates/legal %> -->
	
	
</div>