

@import '../../../_common/styles/common.scss';

.frame4{
	// opacity: 1;
}







#banner{
	width: 300px;
	height: 50px;
}

#legalBtn{	
	@include pos(35, 42);
	height: 11px;
}

#legalContent{
	font-size: 9px;
	line-height: 10px;
}