<div id="banner">
	<div class="outline"></div>
	
	<img inline src="./images/bg.jpg" />
	<img inline src="./images/logo_leaf.png" />
	<img inline src="./images/legal.png" />

	<div class="frame frame1">
		
		
		<img inline class="t1" src="./images/t1.png" />
		
		
	</div>
	
	<div class="frame frame2">
		<img inline class="product" src="./images/product.png" />		
	</div>

	<div class="frame frame3">
		<img inline class="logo_text" src="./images/logo_text.png" />		
		<img inline class="cta" src="./images/cta.png" />		
	</div>

</div>