

@import '../../../_common/styles/common.scss';

.frame4{
	// opacity: 1;
}


#legalBtn{	
	@include pos(20, 560);
}

.logo_text{
	width: 114px;
	@include pos(94, 440);
}

.product_2{	
	@include pos-scale(0, -5, 1);
}


#banner{
	width: 300px;
	height: 600px;
}

