

@import '../../../_common/styles/common.scss';

.frame3{
	// opacity: 1;
}


#legalBtn{	
	@include pos(20, 560);
}





#banner{
	width: 160px;
	height: 600px;
}

#legalBtn{	
	@include pos(5, 505);
	width: 148px;
}