<div id="banner">
	<div class="outline"></div>
	
	<img inline class="bg" src="./images/bg.jpg" />
	<img inline class="retina" src="./images/logo_leaf.png" />
	<img inline class="retina" src="./images/legal.png" />
	
	<img inline class="retina logo_text" src="./images/logo_text.png" />		
	<img inline class="retina cta" src="./images/cta.png" />		
	

	<div class="frame frame1">
		<img inline class="retina shadow t1" src="./images/t1.png" />
	</div>

	<div class="frame frame2">

		<img inline class="retina can_whole" src="./images/can_whole.png" />
		<img inline class="retina can" src="./images/can.png" />

		<img inline class="retina cup_shadow" src="./images/cup_shadow.jpg" />
		<img inline class="retina cup" src="./images/cup_full.png" />
		<img inline class="retina cup_line" src="./images/cup_line.png" />
		
		
		<img inline class="retina liquid liquid_0" src="./images/liquid_0.png" />	
		<img inline class="retina liquid liquid_1" src="./images/liquid_1.png" />

		
	</div>


	
	

	<!-- <% include ../_common/templates/legal %> -->
	
	
</div>